.container-fluid, .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.container-fluid {
    background-color: rgb(0, 132, 255);
    height: 100vh;
}

.trafficTop {
    background-color: black;
    width: 8%;
    height: 20vh;
}

.container {
    background-color: black;
    width: 40%;
    height: 60vh;
    border-radius: 30px;
}

.red-light, .yellow-light, .green-light, .purple-light {
    width: 50%;
    height: 30%;
    border-radius: 50%;
    filter: brightness(80%);
}

.red-light {
    background-color: red;
}

.yellow-light {
    background-color: yellow;
}

.green-light {
    background-color: rgb(5, 201, 5);
}

.purple-light {
    background-color: purple;
}

.selected {
    box-shadow: 0 0 150px rgb(255, 255, 255);
    filter: brightness(100%);
}

/*****************************************BUTTON CSS**********************************************/

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.bn632-hover:focus {
    outline: none;
}
  
.bn632-hover.bn20 {
    background-image: linear-gradient(
      to right,
      #667eea,
      #764ba2,
      #6b8dd6,
      #8e37d7
    );
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}